@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    

    background: #FBDEA2;
}
#box {
    width: 900px;
    height: 550px;

    background: #3F5C9A;
    border: 3px solid #3D3D3D;
    box-sizing: border-box;
    box-shadow: 14px 16px 0px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
}
body {
    margin: 0;
}

/*navegador*/
.nav-bar {
    position: relative;
    height: 190px;
    width: 847px;
    left: 24px;
        
    background: url(../IMG/index/navbar.png);
}

/*tipografia*/
.etgc {
    position: relative;
    top: 67.5px;
    left:-26px;

    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.1em;
    
    color: #2C2C2C;
}
.estudos {
    position: relative;

    top: 15px;
    left: 136px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.1em;

    color: #2C2C2C;
}
.materiais {
    position: relative;
    top: -37.5px;
    left: 490px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.1em;

    color: #2C2C2C;
}
.portfolio {
    position: relative;
    top: -90.5px;
    left: 667px;

    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.1em;

    color: #2C2C2C;
}
.tag-html {
    position: relative;
    top: -143px;
    left: 309px;

    font-family: 'Rubik', sans-serif;    font-weight: bold;
    font-size: 96px;
    line-height: 53px;
    
    color: #E64C18
}