@charset "utf-8";

/*Título do site*/
/*.square {
   /text-align: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 500px;
    margin-right: 500px
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/
body {
    margin: 0px;
}

/*Container*/
.container {
    width: 100vw;
    height: 100vh;
    background: #FBDEA2;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
/*Box*/
.box {
    width: 400px;
    height: 520px;
    background: #3F5C9A;
    border-radius: 10px;
    box-shadow: 8px 9px 0px rgba(0, 0, 0, 0.45);
}
/*Elvis*/
.container .box .perfil-photo {
    position: relative;
    width: 126.26px;
    height: 126.26px;
    right:61.5px;
    top: 35px;
    background: url(Img/Elvis.jpg);
    border-radius: 84.5px;
}
/*Elipse-photo*/
.container .box .elipse-border {
    position: relative;
    width: 130px;
    height: 130px;
    left:69.8px;
    top: 33px;
    box-sizing: border-box;
}
/*ETGC*/
.title-name h1 {
    position: relative;
    width: 408px;
    height: 42px;
    left: 0px;
    top: 3px;

    text-align: center;
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 63px;
    line-height: 74px;
  
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-shadow: 3px 2px 0px #3D3D3D;
}
/*Elvis Castro*/
.title-name h4 {
    position: relative;
    width: 400px;
    height: 28px;
    left:0px;
    top: 0px;


    text-align: center;
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 1px;
    color: #FFFFFA;
    text-shadow: 1px 1px 0px #3D3D3D;
}
/* Site em construção! */
.title-name h2 {
    position: relative;
    width: 408px;
    height: 42px;
    left: 0.5px;
    top: 3px;

    font-family: monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 31px;
    line-height: 42px;
    letter-spacing: 0.03em;

    color: #FFFFFA;
    text-shadow: 1px 1px 0px #3D3D3D;
}
/*Acesse minhas páginas*/
p {
    position: relative;
    width: 400px;
    height: 21px;
    left: 0px;
    top: 12px;

    font-family: monospace;
    font-style: normal;
    font-size: 12pt;
    line-height: 21px;

    color: #FFFFFA;
    text-shadow: 1px 1px 0px #3D3D3D;
}
/*icon Linkedin*/
.img-linkedin {
    position: relative;
    width: 70px;
    height: 70px;
    left: 96px;
    top: 26px;

    background: url(linkedin.png);
    border: 2px solid #FBDEA2;
    box-sizing: border-box;
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.25));
    border-radius: 26px;
}
/*icon Github*/
.img-github {
    position: relative;
width: 70px;
height: 70px;
left: 60px;
top: 27px;

background: url(Githubor.png);
border: 2px solid #FBDEA2;
box-sizing: border-box;
filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.25));
border-radius: 23.5px;
}
/*icon Twitter*/
.img-twitter {
    position: relative;
    width: 70px;
    height: 70px;
    left: 80px;
    top: 26px;
    
    background: url(twitter.png);
    border: 2px solid #FBDEA2;
    box-sizing: border-box;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.25);
     }